<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MsSqlOnlineShopEntities" connectionString="metadata=res://*/MsSqlModel.csdl|res://*/MsSqlModel.ssdl|res://*/MsSqlModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=MSSQLOnlineShop;integrated security=True;user id=admin;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>